.container {
  max-width: 700px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  label {
    margin: 10px 0px;
  }
  #submit {
    display: block;
    width: 200px;
    margin: 10px 0px;
  }
  .select {
    height: 100px;
  }
}